<div class="container">
  <app-side-menu
    (startAlgorithm)="startAlgorithm()"
    (resetGrid)="resetGrid()"
    [state]="state"
  ></app-side-menu>
  <div id="grid-container">
    <app-node
      *ngFor="let node of nodes"
      [distance]="distances[node]"
      [node]="node"
      [isOnPath]="nodesOnPath.includes(node)"
      [isEndNode]="node === endNode"
      [isStartNode]="node === startNode"
      [state]="state"
      (setStartNode)="setStartNode(node)"
      (setEndNode)="setEndNode(node)"
    ></app-node>
  </div>
</div>
